#Circles {
  margin: 100px; }
  #Circles .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to left, #245c7b, #11455c);
    animation: bubble 5s cubic-bezier(0.3, 0.6, 0.3, 1.1) infinite forwards; }

@keyframes bubble {
  0% {
    border-radius: 50%;
    transform: rotate(60deg); }
  25% {
    border-radius: 20% 40% 20% 20%; }
  50% {
    border-radius: 40% 3% 80% 10%;
    transform: rotate(180deg); }
  75% {
    border-radius: 90% 70% 20% 40%; }
  100% {
    border-radius: 50%;
    transform: rotate(360deg); } }
