@media all and (max-width: 760px) {
  #header {
    background-color: #0c384c;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px; }
    #header .logo {
      margin: 0; }
      #header .logo img {
        width: 30px; }
    #header .icn_ham {
      display: none; }
    #header .menu ul li {
      margin: 0 6px;
      font-size: 1.1vw; }
      #header .menu ul li:last-child {
        padding: 8px 10px; }
    #header .chart_circle {
      display: none; }
  #header_ham {
    width: 100vw;
    height: 20px;
    background-color: #0c384c;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1000; }
    #header_ham .logo {
      margin: 0; }
      #header_ham .logo img {
        width: 30px; }
    #header_ham .icn_ham {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0px;
      right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      #header_ham .icn_ham img {
        width: 14px; }
    #header_ham .menu {
      position: absolute;
      top: 60px;
      right: -250px;
      background-color: #0c384c;
      transition: 0.5s; }
      #header_ham .menu ul {
        flex-direction: column; }
        #header_ham .menu ul li {
          width: 120px;
          height: 50px;
          font-size: 14px;
          margin: 0; }
          #header_ham .menu ul li span:last-child {
            padding: 4px 10px; }
    #header_ham .menu-open {
      right: 40px; }
    #header_ham .chart_circle {
      display: none; } }
