@media all and (max-width: 767px) {
  .qa_table {
    display: none;
  }
  .qa_table_rwd {
    display: block;
    table {
      width: 80vw;
      margin-top: 25px;
      td {
        &:nth-child(2) {
          width: 40px;
        }
      }
    }
  }
}
