@media all and (max-width: 760px) {
  #landingPage {
    .banner {
      padding: 0 25px;
      margin: -1px 0 0;
      background-image: none;
      flex-direction: column-reverse;
      align-items: center;
      .app_screenshoot {
        margin-top: -240px;
        z-index: 100;
        .app_screenshoot_bg {
          img {
            width: 90vw;
          }
        }
        .app_screenshoot_map {
          width: 75vw;
          left: 7.5vw;
        }
      }
      .banner_right {
        width: 100vw;
        background-color: #0c384c;
        padding-bottom: 150px;
        .banner_slogan {
          margin: 0;
          padding-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            max-width: 72vw;
            text-align: justify;
            font-size: 16px;
            font-weight: normal;
          }
          img {
            width: 240px;
          }
        }
        .banner_enginner {
          display: flex;
          justify-content: center;
          .dataline {
            width: 17.5vw;
            height: 30vw;
            top: auto;
            bottom: 18vw;
            left: 14vw;
            background-image: url("../../images/landingPage/dataline_mobile.png");
            background-size: 17.5vw 30vw;
          }
          .enginner {
            position: static;
            margin-top: 20px;
            img {
              width: 55vw;
            }
          }
        }
      }
    }

    .landingPage_contents_block {
      padding: 70px 30px;
      .contents_title {
        h4 {
          text-align: justify;
          margin-bottom: 4px;
        }
      }
      .contents {
        .content {
          img {
            height: 100px;
          }
          p {
            width: 50vw;
          }
        }
      }
    }

    .getManual_block {
      height: auto;
      background-image: linear-gradient(to left, #245c7b, #11455c);
      .getManual_info {
        width: 85vw;
        margin: 0;
        padding: 40px 7vw 100px;
        p {
          text-align: justify;
        }
        .getManual_email {
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          input[type="text"] {
            width: 90%;
            padding: 0 5px;
          }
          input[type="button"] {
            position: static;
            margin-top: 30px;
          }
        }
      }
      .getManual_bg_first,
      .getManual_bg_sec {
        display: none;
      }
    }

    .qa {
      padding-top: 70px;
      .qa_info {
        width: 81vw;
        p {
          text-align: justify;
          br {
            display: none;
          }
        }
      }
      .qa_table {
        display: none;
      }
      .qa_table_rwd {
        table {
          width: 80vw;
          margin-top: 25px;
        }
      }

      .qa_evaluation {
        width: 80vw;
        height: auto;
        flex-direction: column;
        padding: 25px;
        img {
          width: 220px;
        }
        .qa_evaluation_info {
          width: 78vw;
          margin: 25px 0;
          p {
            text-align: justify;
          }
        }
      }
    }

    .person_block {
      flex-direction: column;
      align-items: center;
      .person_info {
        width: 70vw;
        align-items: center;
        margin: 0;
        p {
          font-size: 14px;
        }
        .person_info_btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          input[type="button"] {
            width: 50vw;
            font-size: 14px;
            padding: 15px 0;
            margin: 5px 0;
          }
        }
      }
    }
  }
}
