#landingPage {
  .banner {
    background-image: url("../../images//landingPage//bg.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 170px;
    margin-top: -100px;
    .app_screenshoot {
      position: relative;
      z-index: 900;
      .app_screenshoot_bg {
        img {
          width: 30vw;
        }
      }
      .app_screenshoot_map {
        width: 25vw;
        height: 50%;
        position: absolute;
        top: 8.5vh;
        left: 2.5vw;
        padding: 1vw 0;
        overflow: hidden;
        img {
          height: 100%;
          animation: appScroll 5s cubic-bezier(0.3, 0.6, 0.3, 1.1) infinite
            forwards;
        }
      }

      @keyframes appScroll {
        10% {
          margin-left: 10px;
        }
        25% {
          margin-left: -40%;
        }
        50% {
          margin-left: -75%;
        }
        100% {
          margin-left: 0;
        }
      }
    }
    .banner_right {
      .banner_slogan {
        margin-left: 7.8vw;
        img {
          width: 30vw;
        }
        h2 {
          max-width: 41.5vw;
          color: #fff;
          // font-size: 24px;
          font-size: 1.9vw;
          font-weight: normal;
          margin-top: 36px;
        }
      }
      .banner_enginner {
        position: relative;
        .dataline {
          width: 22vw;
          height: 16vw;
          position: absolute;
          z-index: 1000;
          top: 16.5vw;
          left: -4vw;
          background-image: url("../../images/landingPage/dataline_desktop.png");
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .enginner {
          position: absolute;
          z-index: 1000;
          top: 2.75vw;
          left: 15vw;
          img {
            width: 17.7vw;
          }
        }
        .bubbleMorph {
          .bubble_fir {
            position: absolute;
            top: 2.75vw;
            left: -2vw;
            transform: rotate(110deg);
          }
          .bubble_sec {
            position: absolute;
            top: 5vw;
            left: 15vw;
            transform: rotate(20deg);
          }
        }
      }
    }
  }

  .landingPage_contents_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 100px;
    .contents_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
      }
      h4 {
        font-size: 16px;
        font-weight: normal;
        color: #000000;
        margin: 16px 0 40px;
      }
    }

    .contents {
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .content {
        max-width: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px 75px;
        h4 {
          font-size: 16px;
          font-weight: normal;
          color: #000000;
          margin: 35px 0 9px;
        }
        p {
          font-size: 16px;
          color: #000000;
          text-align: justify;
        }
      }
    }
  }

  .getManual_block {
    width: 100vw;
    background-image: linear-gradient(to left, #245c7b, #11455c);
    position: relative;
    .getManual_bg_first {
      width: 50vw;
      height: 110%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../../images/landingPage/derec_CTA01.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: -10px -13px;
    }
    .getManual_bg_sec {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 60px;
      overflow: hidden;
      .chart_circle_b {
        position: relative;
        &::before {
          content: "";
          width: 250px;
          height: 250px;
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          top: -40px;
          left: 0px;
        }
        &::after {
          content: "";
          width: 220px;
          height: 220px;
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          top: -10px;
          left: 0px;
        }
      }
      .chart_circle {
        position: relative;
        &::before {
          content: "";
          width: 32px;
          height: 32px;
          border-radius: 50%;
          position: absolute;
          top: 135px;
          right: 50px;
          background-color: rgba(255, 255, 255, 0.2);
        }
        &::after {
          content: "";
          width: 19px;
          height: 19px;
          border-radius: 50%;
          position: absolute;
          top: 135px;
          right: 15px;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .getManual_info {
      position: relative;
      width: 56vw;
      margin-left: 27vw;
      z-index: 100;
      display: flex;
      flex-direction: column;
      padding: 60px 60px;

      h4 {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
      }
      p {
        font-size: 16px;
        color: #ffffff;
        margin: 22px 0 18px;
      }
      .getManual_email {
        width: 52vw;
        input {
          border: none;
          font-size: 16px;
          color: #ffffff;
          &::placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
          &:focus {
            outline: none;
          }
        }
        input[type="text"] {
          width: calc(52vw - 180px);
          height: 60px;
          border-bottom: 1px solid #fff;
          background-color: transparent;
          padding: 0 10px;
        }
        input[type="button"] {
          width: 150px;
          height: 60px;
          background-color: #0f9ec7;
          cursor: pointer;
          &:hover {
            background-color: #14baea;
          }
        }
      }
    }
  }

  .qa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0;
    .qa_info {
      width: 700px;
      text-align: center;
      h4 {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
      }
      p {
        font-size: 16px;
        color: #000000;
        margin: 16px 0 34px;
      }
    }
    .qa_table,
    .qa_table_rwd {
      margin-bottom: 50px;
      table {
        width: 665px;
        border-collapse: collapse;
        tr {
          height: 41px;
          border-bottom: 1px solid #ddd;
          td {
            text-align: center;
          }
          th,
          td {
            &:first-child {
              text-align: left;
            }
          }
        }
      }
    }
    .qa_table_rwd {
      display: none;
    }

    .qa_evaluation {
      width: 630px;
      height: 250px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
      display: flex;
      align-items: center;
      padding: 25px 35px;
      position: relative;
      z-index: 1000;
      img {
        width: 250px;
      }
      .qa_evaluation_info {
        width: 300px;
        margin-left: 40px;
        h4 {
          font-size: 18px;
          font-weight: 500;
          color: #000000;
        }
        p {
          font-size: 16px;
          color: #000000;
          margin: 10px 0;
        }
      }
    }
  }

  .person_block {
    width: 100vw;
    background-image: linear-gradient(to left, #245c7b, #11455c);
    display: flex;
    justify-content: center;
    padding: 130px 0 80px;
    margin-top: -70px;
    position: relative;
    img {
      width: 110px;
      height: 110px;
    }
    .person_info {
      width: 480px;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      p {
        font-size: 24px;
        color: #ffffff;
        margin: 15px 0;
      }
      .person_info_iosdev {
        img {
          width: 50px;
          height: 20px;
          margin-left: -5px;
        }
      }
      .person_info_btn {
        input[type="button"] {
          font-size: 16px;
          color: #fff;
          border: 1px solid #fff;
          background-color: transparent;
          padding: 20px 25px;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            background-image: linear-gradient(
              to left,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.2)
            );
          }

          &:first-child {
            border: none;
            background-color: #0f9ec7;
            &:hover {
              background-color: #14baea;
            }
          }
        }
      }
    }

    .bubbleMorph {
      .bubble_fir {
        position: absolute;
        z-index: -100;
        top: -180px;
        left: -50px;
      }
      .bubble_sec {
        position: absolute;
        z-index: -100;
        top: -370px;
        left: 35vw;
        transform: rotate(100deg);
      }
    }
  }
}
